In [245]:

import pandas as pd
import numpy as np
from surprise import Dataset
from surprise import Reader
import warnings
from surprise import KNNWithMeans
from surprise import SVD
warnings.filterwarnings("ignore")

In [246]:
df = pd.read_excel("ratings_movies.xlsx", header=None)

In [247]:
all_user_df = pd.DataFrame()

dfg  = df.reset_index().groupby("index")
for name, group in dfg:
    del group["index"]
    rating = group.to_numpy().reshape(-1,1)
    film_id = group.columns.to_numpy().reshape(-1,1)
    #print(film_id)
    rating_df = pd.DataFrame( rating , columns = ["rating"]).reset_index()
    film_id_df = pd.DataFrame(film_id, columns = ['film_id']).reset_index()
    df_for_user = rating_df.merge(film_id_df, on="index")
    df_for_user["index"] = df_for_user["index"].apply(lambda x: name)
    all_user_df = all_user_df.append(df_for_user)

In [248]:
all_user_df

    index  rating film_id
0       0       5       0
1       0       5       1
2       0       5       2
3       0       1       3
4       0       1       4
..    ...     ...     ...
10     14       1      10
11     14       1      11
12     14       1      12
13     14       1      13
14     14       1      14

[225 rows x 3 columns]

In [249]:
def df_column_switch(df, column1, column2):
    i = list(df.columns)
    a, b = i.index(column1), i.index(column2)
    i[b], i[a] = i[a], i[b]
    df = df[i]
    return df

In [328]:
new_user = [ [15, 2 ,3],
            [15, 5, 2],
            [15, 2,1],
            [15,1,6]]
#all_user_df = all_user_df.append(pd.DataFrame(new_user, columns=["index","rating","film_id"]))
all_user_df = df_column_switch(all_user_df, "film_id","index")
all_user_df = df_column_switch(all_user_df, "index", "rating")
all_user_df

   film_id  index  rating
0        0      0       5
1        1      0       5
2        2      0       5
3        3      0       1
4        4      0       1
..     ...    ...     ...
3        6     15       1
0        3     15       2
1        2     15       5
2        1     15       2
3        6     15       1

[233 rows x 3 columns]

In [329]:
reader = Reader(rating_scale=(1,5))
dataset = Dataset.load_from_df(all_user_df, reader=reader)

In [330]:
sim_options = {
    "n_epochs": 1000,
      
    
}
algo = SVD(n_epochs=100, lr_all=0.01)

In [331]:
train = dataset.build_full_trainset()
algo.fit(train)

In [333]:
for i in range (1,15):
    prediction = algo.predict(0, i)
    print(prediction.est)

4.961183155052419
4.9477398806462585
3.0231942709801722
3.0188765350336033
3.052218918975916
1.0608837535604114
1.048223175327967
1.0140910301542454
3.9348940909622545
3.9157662091200454
3.935283029407766
1.038408462198702
1.039257665353369
1.0301970460157257

In [303]:
df

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0    5   5   5   1   1   1   1   1   1   5   5   5   2   2   2
1    5   5   5   1   1   1   1   1   1   5   5   5   2   2   2
2    5   5   5   1   1   1   1   1   1   5   5   5   2   2   2
3    3   3   3   5   5   5   1   1   1   5   5   5   1   1   1
4    3   3   3   5   5   5   1   1   1   5   5   5   1   1   1
5    3   3   3   5   5   5   1   1   1   5   5   5   1   1   1
6    1   1   1   3   3   3   5   5   5   5   5   5   1   1   1
7    1   1   1   3   3   3   5   5   5   5   5   5   1   1   1
8    1   1   1   3   3   3   5   5   5   5   5   5   1   1   1
9    4   4   4   4   4   4   2   2   2   4   4   4   1   1   1
10   4   4   4   4   4   4   2   2   2   4   4   4   1   1   1
11   4   4   4   4   4   4   2   2   2   4   4   4   1   1   1
12   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
13   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1
14   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1